body {
  background-color: #eee9e6;
}

nav {
  position: absolute;
  width: 400px;
  height: 100%;
  background-color:#e0def4;
}

.flex-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;
  justify-content: start;
  width: 800px;
}

.flex-item {
  position: relative;
  width: 170px;
  height: 100px;
  left: 475px;
  top: 100px;
  margin: 30px;
  font-family: 'Poppins', sans-serif;
  background-color: #6e6a86;
  color: #9ccfd8;
}

.text {
  color: #eb6f92;
  font-family: 'Poppins', sans-serif;
}

a:link {
  text-decoration: none;
}

.text-title {
  font-size:50px; 
}


.text-moved {
  position: relative;
  left: 50px;
  bottom: 25px;
}

.button {
  position: relative;
  top: 340px;
  height: 30px;
  margin: 2px;
  font-size: 10px;
  color: #e0def4;
  border: 0.5px solid #e0def4;
  border-radius: 2px;
  width: fit-content;

}

.save-contact {
  background-color: #c4a7e7;
}

.cancel {
  background-color:#eb6f92;
}

.form-container {
  flex-direction: column;
}

.form {
  height: 30px;
  margin: 5px;
  width: 125px;
  background-color: #e0def4;
  border: 0.5px solid #e0def4;
  border-radius: 2px;
}

.image-container {
  position: relative;
}

.image-container-1 {
  position: relative;
}

.image {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 730px;
  bottom: 225px;
}

.plus {
  position: relative;
  left: 620px;
  bottom: 33px;
  margin: inherit;
  user-select: none;
}

.additional-flex-box {
  flex-direction: column;
  position: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.picture {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50px;
  left: 480px;
}

.text-heading {
  position: absolute;
  left: 490px;
  top: 120px;
}

.body-text {
  position: relative;
  left: 482px;
  top: 175px;
  font-family: 'Poppins', sans-serif;
}

.container-buttons {
  position: relative;
  right: 20px;
}

.edit-button {
  position: absolute;
  left: 500px;
  top: 170px;
  width: 50px;
}

.close-button {
  position: absolute;
  left: 550px;
  top: 170px;
  width: 50px;
}

.text-holder {
  position: relative;
}


@media all and (max-width: 425px) {
  * {
    background-color: ;
  }
  
  .flex-container {
    flex-direction: column;
    position: relative;
    right: 450px;
    top: 200px;
    
  }

  p {
    position: absolute;
    right: 400px;
  }

  nav {
    width: 100%;
    height: 100%;
  }

  body {
    background-color: #e0def4;
  }

  input.flex-item {
    background-color:#eee9e6;
  }

  a {
    font-size: 120%;
  }

  .image {
    position: absolute;
    left: 30px;
    bottom: 25px;
  }
  a {
    position: relative;
    bottom: 5px;
  }

  .container-buttons {
    position: relative;
    right: 420px;
    top: 350px;
  }
  
  .text.body-text {
    position: absolute;
    width: 200px;
    
  }

  .text-holder {
    right: 400px;
    display: flex;
    position: relative;
    top: 100px;
  
  }

  .text.text-heading {
    position: relative;
    right: 400px;
  }



  .image-container {
    position: relative;
    right: 420px;
    top: 150px;
  } 

  

}


